{% extends "_base2.html" %}

{% block content %}


<div class="container"></div>
<div class="container-xxl">

    <div class="row"></div>
    <div class="row">
        

        <div class=" container-fluid d-flex align-items-center" style="padding-top: 100px;">

            <div class="form-group flex-fill justify-content-center" >
                
                {% if output %}
                <div class="toast" role="alert" style="position: absolute; bottom: 5%; left:70%;" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                    
                        <strong class="me-auto">Output</strong>
                        
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ output }}
                    </div>
                </div>
                {% endif %}
                {% if error %}
                <div class="toast" role="alert" style="position: absolute; bottom: 5%; left:70%;" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                    
                        <strong class="me-auto">Error</strong>
                    
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <a style="color: red">{{ error }} </a>
                    </div>
                </div>
                {% endif %}

                <br><b>
                    Upload artifacts to Timesketch
                    {% if current_user %}
                        - {{ current_user.name }}
                    {% endif %}
                </b><br>
                
                
                <form action="{{ url_for('upload_file')}}" method="POST" enctype="multipart/form-data">
            
                    <br>
                    <div>
                        <label for="existing">Choose upload mode</label>
                        <select class="form-select" id="existing" name="existing">
                            <option value="Yes" selected="selected">Upload to existing sketch</option>
                            <option value="No">Upload to new sketch</option>
                        </select>
                    </div>
                    <br>


                    <div id="sketch_new_div" hidden="true">
                        <label for="sketch_new">Sketch name</label>
                        <input type="text" class="form-control" id="sketch_new" placeholder="New sketch name" name="sketch_new"><br>
                    </div>


                    <div id="sketch_id_drop_div">
                        <label>Sketch name:</label>

                        <!-- jinja template list sketches -->
                        {% if sketches %}
                            {% for sketch in sketches %}
                            <div class="form-check">

                                <input class="form-check-input" type="radio" name="sketch_id_from_ts" id="sketch_id_from_ts"
                                    value="{{ sketch['sketch_id'] }}" onclick="get_timelines({{ sketch['sketch_id'] }})">
                                
                                    <label class="form-check-label" for="sketch_id_from_ts">
                                        {{ sketch['sketch_name'] }}
                                    </label>
                            </div>
                            {% endfor %}<br>
                        
                        {% else %}
                            <p style="color: red">No sketches found change to Upload to new sketch.</p>
                        {% endif %}

                    </div>
                    
                    <!-- hides when "existing" select is set to "Yes"-->
                    <div id="sketch_desc_div" hidden="true">
                        <label for="sketch_desc">Sketch Description</label>
                        <input type="text" class="form-control" id="sketch_desc" placeholder="Sketch description"
                            name="sketch_desc">
                        <br>
                    </div>
                
                    <div>
                        <br>
                        <label for="timelines_drop">Choose timeline</label>
                        <select class="form-select" id="timelines_drop" name="timelines_drop">
                            <option value="Yes" selected="selected">Upload to new timeline</option>
                            
                        </select>
                        <br>
                    </div>

                    <div id="timeline_name_div">
                        <label for="timeline">Timeline name</label>
                        <input type="text" class="form-control" id="timeline" placeholder="Timeline name" name="timeline" required><br>
                    </div>

                    <!--dropdown list with options local path/upload archive/s3 bucket-->
                    <div>
                        <label for="parsing_mode">Choose source of evidence</label>
                        <select class="form-select" id="parsing_mode" name="parsing_mode" required>
                            <option disabled selected value> -- Select parsing mode --</option>
                            <option value="Upload">Upload archived artifacts</option>
                            <option value="Local">Parse artifacts from local directory</option>
                            <option value="S3">Parse artifacts from S3 Bucket </option>
                            {% if velo_used == true %}
                            <option value="Velo">Upload archived artifacts from Velociraptor hunt</option>
                            {% endif %}
                        </select><br>
                    </div>

                    <!--form-control of type text for Velo option-->
                    <div id="velo_div" hidden="true">
                        <label for="hunt_id">Velociraptor Hunt Id</label>
                        <input type="text" class="form-control" id="hunt_id" placeholder="Velociraptor Hunt Id" name="hunt_id"><br>
                    </div>

                    <!-- form-control of type text for Local option-->
                    <div id="dir_div" hidden="true">
                        <label for="dir_path">Path to local directory</label>
                        <input type="text" class="form-control" id="dir_path" placeholder="Path to directory" name="dir_path"><br>
                    </div>
                    
                    <!-- form-control of type text for Upload option-->
                    <div id="zipped_div" hidden="false">
                        <div class="custom-file">
                            <label class="custom-file-label" for="file">Choose zipped artifacts to upload</label><br>
                            <input type="file" name="file" id="file"><br>
                        </div>
                        <br>
                    </div>

                    <!-- form-control of type text for S3 option-->
                    <div id="s3_div" hidden="true">
                        <label for="s3_path">S3 path to evidence</label>
                        <input type="text" class="form-control" id="s3_path" placeholder="s3://bucket-name/example/archive.zip" name="s3_path"><br>
                        <label for="s3_access_key">S3 credentials</label>
                        <input type="text" class="form-control" id="s3_access_key" placeholder="AWS Access Key" name="s3_access_key"><br>
                        <input type="text" class="form-control" id="s3_secret_key" placeholder="AWS Secret Key" name="s3_secret_key"><br>
                        <!-- STS token only if enabled in config-->
                        {% if sts_used == true %}
                        <label for="s3_sts_token">STS token</label>
                        <input type="text" class="form-control" id="s3_sts_token" placeholder="AWS STS token" name="s3_sts_token"><br>
                        {% endif %}
                    </div>

                    
                    <div>
                        <label>Choose artifacts to parse</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="evtx" name="evtx" >
                            <label class="form-check-label" for="evtx">
                                Parse evtx (Zimmerman)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="plaso" name="plaso" >
                            <label class="form-check-label" for="plaso">
                                Parse artifacts with plaso (without evtx)
                            </label>
                        </div>
                        <br>
                    </div>

                    <div class="form-row" id="div_tag" hidden="False">
                        <div class="form-group col-md-6">
                            <label for="tagging">Select artifacts' operating system (to choose tagging)</label>
                            <select class="form-select" id="tagging" name="tagging">
                                <option value="Windows">Windows</option>
                                <option value="Linux">Linux</option>
                                <option value="Other">Other - no tagging</option>
                            </select><br>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Javascripts -->
<script src="/static/upload_custom.js"></script>

{% endblock %}
   
